<h1>Listing posts</h1>

<table>
  <tr>
    <td><%= link_to "all", posts_path %></td>
  <% for tag in @tags %>
    <td><%= link_to tag.name, posts_path(:tag_name => tag.name) %></td>
  <% end %>
  </tr>
</table>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
  </tr>

<% for post in @posts %>
  <tr>
    <td><%=h post.title %></td>
    <td><%=h post.body %></td>
    <td><%= link_to 'Show', post %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New post', new_post_path %>

<br /><br />
<%= link_to "tag cloud", tag_cloud_posts_path %>
